# Environment variables

# MySQL version
MYSQL_IMAGE_VERSION=5.5

# Container time zone
TIME_ZONE=Asia/Bangkok

# Game server IP (host machine IP)
GAME_SERVER_IP=192.168.200.3

# Login server port
GAME_SERVER_LOGIN_PORT=7384

# Game server port
GAME_SERVER_PORT=3731

# World data auto-save interval (milliseconds)
SMU_INTERVAL=1200000

# Player (Human) data auto-save interval (milliseconds)
DATA_INTERVAL=900000

# Enable server log file output (yes/no)
WITH_GAME_LOG=yes

# This image includes a built-in billing service
# If you want to use an external billing service,
# update the following IP and port:
BILLING_SERVER_IP=127.0.0.1
BILLING_SERVER_PORT=12680